@import "variables.less";
@import "mixins.less";

html,body {
	/* html et body doivent rester comme ça et sans padding ni margin, pour gérer le footer en bas de page */
	height: 100%;
}

a > i.icon-linkcolor {
	background-image: url("@{iconLinkColorSpritePath}");
}
a:hover > .icon-linkcolor {
  background-image: url("@{iconLinkColorHoverSpritePath}");
}

.p {
	margin-bottom: 10px;
}

.loadmask {
    z-index: 100;
    position: absolute;
    top:0;
    left:0;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha(opacity=50);
    background-color: lighten(@linkColor, 50%);
    width: 100%;
    height: 100%;
    zoom: 1;
	border-radius: @baseBorderRadius;
}
.loadmask-msg {
    z-index: 20001;
    position: absolute;
    top: 0;
    left: 0;
    #gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
  	border: 1px solid @navbarBorder;
  	.border-radius(@baseBorderRadius);
  	.box-shadow(0 1px 4px rgba(0,0,0,.065));
	padding:2px;

	div {
	    padding:5px 10px 5px 25px;
	    background: url('../img/loading.gif') no-repeat 5px 5px;
	    line-height: 16px;
		font-weight: bold;
		color: @navbarBrandColor;
		text-shadow: 0 1px 0 @navbarBackgroundHighlight;
	    font-size:11px;
	    cursor:wait;
	}
	border-radius: @baseBorderRadius;
}
.masked {
    overflow: hidden !important;
}
.masked-relative {
    position: relative !important;
}
.masked-hidden {
    visibility: hidden !important;
}

.vertical-center {
	vertical-align: middle !important;
}

.muted > [class^="icon-"], 
.muted > [class*=" icon-"],
[class^="icon-"].muted,
[class*=" icon-"].muted {
  background-image: url("@{iconMutedSpritePath}");
}  

.icon-cap                     { background-position: 0      -168px; }

.navbar {
	.navbar-inner {
		border-width: 0px;
	}
	.nav > li > a {
		text-shadow: none;
	}

	.subnav {
	    background-color: @navbarLinkBackgroundActive;
	    box-shadow: none ;
	    color: #555555;
	    text-decoration: none;
	
		ul.nav li {
	    	line-height: 2px;
		}
	
		.nav > .active > a,  .nav > :hover > a {
			background-color: white;
			background: white; /* Old browsers */
			background: -moz-linear-gradient(top, @navbarBackground 0%, #ffffff 10%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@navbarBackground), color-stop(10%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  @navbarBackground 0%,#ffffff 10%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  @navbarBackground 0%,#ffffff 10%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  @navbarBackground 0%,#ffffff 10%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to bottom,  @navbarBackground 0%,#ffffff 10%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@navbarBackground', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
			color: black;
			box-shadow: none;
		    text-decoration: none;
		}
	}
}

.breadcrumb {
	background-color: transparent;
	border-bottom: 2px dotted lighten(@navbarBackground, 65%);
	border-radius: 0px;
	margin: 0 0 10px;
    padding: 0 15px;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* margin bottom négatif pour gérer le footeur, de la hauteur du footer (hauteur réelle = hauteur + border + padding ...) */
	margin: 0 auto -41px;
	& > .container, & > .container-fluid {
		padding-top: 65px;
	}
}

#push,#footer {
	height: 40px;
}

#footer {
	background-color: lighten(@navbarBackground, 65%);
	color: purple;
	.container p {
		color: purple;
		margin: 10px 0;
	}
	a {
		color:purple;
		border-bottom:dotted 1px purple;
	}
	font-size:smaller;
}
#footer	a:hover, #footer a:active {
		text-decoration:none;
		border-bottom-style:solid;
	}

#login-form-container {
	margin: 30px auto;
	width: 250px;
}

.form-horizontal .control-group {
	margin-bottom: 10px;
}

form .control-group {
	&.required {
		.control-label, .help-inline.required {
			font-weight: bold;
		}
	}
	.help-block > ul {
		margin-bottom: 0px;
	}
}

.state-error {
	color: @errorText !important;
}
.state-success {
	color: @successText !important;
}

.admin-btn {
	height:65px;
	min-width:130px;
	margin:0px 20px 20px 0px;
	
	& > img {
		margin:5px;
	}
	.title {
		font-weight:bold;
		font-size: @baseFontSize * 1.25;
	}
}
.rights-group {
	list-style: none outside none;
	margin-left:0px;
	
	label {
		display:inline;
	}
	
	input[type=checkbox] {
		margin-top:-2px;
	}

	& > li {
	   	display: inline-block;
	    margin-bottom: 10px;
	    margin-right: 10px;
	    vertical-align: top;
	}
	
	& > li > span.group-name {
		&, label {
			font-weight: bold;
		}
		
	    background-color: @linkColor;
	    border-radius: 2px 2px 2px 0;
	    color: @white;
	    padding: 0px 8px;
		display:block;
	}
	.rights-list {
		list-style: none outside none;
		margin-left:0px;
		padding-left:5px;
		border-left:solid 3px @linkColor;
	}
}

label.multicheckbox {
	input[type=checkbox] {
		margin-top:-2px;
		margin-right:5px;
	}
}

.main-messages {
	margin-bottom:10px;
	
	ul {
		margin: 0px 0px 0px 10px;
	}
}

.action-bar {
	&.boundaries:before {
		content: '[ ';
	}
	&.boundaries:after {
		content: ' ]';
	}
	
	.action-bar-item {
		display: inline;
	}
	.action-bar-item:before {
		content: ' | ';
	}
	.action-bar-item:first-child:before {
		content: '';
	}
}

.pagination-info {
	padding:5px 0;
}

.pagination-info-right {
	float: right
}

.pagination-info-left {
	float: left
}

.dropup-menu {
    bottom: 100%;
    top: auto !important;
}

/* position the arrow downwards, pointing to the menu */

.navbar .dropup-menu:before {
    border-bottom: none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid rgba(0, 0, 0, 0.2);
    left: 7px;
    top: 100%;
}

.navbar .dropup-menu:after {
    border-bottom: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
    left: 10px;
    top: 100%;
    left: 6px;
}

.thumbnails {
	margin-left: 0;
	.thumbnail[class*="span"] {
		margin:0;
	}
}

.page-qrcode-container {
	position: relative;
}
.page-qrcode-holder {
    transition: all 300ms ease-in-out 0s;
}
.page-qrcode-holder:hover, .page-qrcode-holder:focus {
	right:0px;
	position: absolute;
    transition: all 300ms ease-in-out 0s;
}
.page-qrcode {
    position: relative;
	background:white;
    transition: all 300ms ease-in-out 0s;
}
.page-qrcode img {
    height: 30px;
}
.page-qrcode:hover, .page-qrcode:focus {
    z-index: 10;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
.page-qrcode:hover img, .page-qrcode:focus img {
	padding:0 20px;
    height: auto;
}

.no-margin {
	margin:0;
}

@media (max-width:979px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
	#footer, #push {
		height:0px;
	}

	.navbar-fixed-top {
 	   margin-bottom: 0;
	}
	#wrap > .container, #wrap > .container-fluid {
		padding-top: 0px;
	}
}

.sort-handle {
	cursor: move;
	background: url('../img/sort-handle.png') repeat;
}
.table-sort-placeholder {
	background: url('../img/empty-placeholder.png') repeat;
	> * {
		visibility: hidden;
	}
}
.table-sort-helper {
	> td {
		background-color:white;
	}
}

#color-form-container.affix-top {
	margin-top: 12px;	
}
#color-form-container.affix {
	margin-top: -40px;	
}
.costume-color-preview {
	display:inline-block;
	height:15px;
	width:15px;
	border:solid 1px #DDD;
	border-radius:4px;
	margin-left:10px;
	vertical-align:middle;
	&.no-margin {
		margin: 0px;
	}
	&.no-color {
		background: url('../img/empty-placeholder') repeat transparent;
		border-color: transparent;
	}
}

#materials-list {
	max-width:500px;
}


@import "icons-sprite.less";
