.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  /* html et body doivent rester comme �a et sans padding ni margin, pour g�rer le footer en bas de page */

  height: 100%;
}
a > i.icon-linkcolor {
  background-image: url("../img/glyphicons-halflings-linkcolor.png");
}
a:hover > .icon-linkcolor {
  background-image: url("../img/glyphicons-halflings-linkcolor-hover.png");
}
.muted > [class^="icon-"],
.muted > [class*=" icon-"],
[class^="icon-"].muted,
[class*=" icon-"].muted {
  background-image: url("../img/glyphicons-halflings-muted.png");
}
.navbar .navbar-inner {
  border-width: 0px;
}
.navbar .nav > li > a {
  text-shadow: none;
}
.navbar .subnav {
  min-height: 20px;
  background-color: #550763;
  box-shadow: none ;
  color: #555555;
  text-decoration: none;
}
.navbar .subnav ul.nav li {
  line-height: 2px;
}
.navbar .subnav .nav > .active > a,
.navbar .subnav .nav > :hover > a {
  background-color: white;
  background: white;
  /* Old browsers */

  background: -moz-linear-gradient(top, #69097b 0%, #ffffff 10%, #ffffff 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #69097b), color-stop(10%, #ffffff), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #69097b 0%, #ffffff 10%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #69097b 0%, #ffffff 10%, #ffffff 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #69097b 0%, #ffffff 10%, #ffffff 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #69097b 0%, #ffffff 10%, #ffffff 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@navbarBackground', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */

  color: black;
  box-shadow: none;
  text-decoration: none;
}
.breadcrumb {
  background-color: transparent;
  border-bottom: 2px dotted #f5d4fc;
  border-radius: 0px;
  margin: 0 0 10px;
  padding: 0 15px;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* margin bottom n�gatif pour g�rer le footeur, de la hauteur du footer (hauteur r�elle = hauteur + border + padding ...) */

  margin: 0 auto -41px;
}
#wrap > .container,
#wrap > .container-fluid {
  padding-top: 65px;
}
#push,
#footer {
  height: 40px;
}
#footer {
  background-color: #f5d4fc;
  color: purple;
  font-size: smaller;
}
#footer .container p {
  color: purple;
  margin: 10px 0;
}
#footer a {
  color: purple;
  border-bottom: dotted 1px purple;
}
#footer a:hover,
#footer a:active {
  text-decoration: none;
  border-bottom-style: solid;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
#login-form-container {
  margin: 30px auto;
  width: 250px;
}
.form-horizontal .control-group {
  margin-bottom: 10px;
}
form .control-group.required .control-label,
form .control-group.required .help-inline.required {
  font-weight: bold;
}
form .control-group .help-block > ul {
  margin-bottom: 0px;
}
.state-error {
  color: #b94a48 !important;
}
.state-success {
  color: #468847 !important;
}
.icon-sprite {
  display: inline-block;
  width: 16px;
  height: 16px;
  *margin-right: .3em;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url('../img/icons-sprite');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  margin-top: 1px;
}
.icon-sprite.icon-accepted {
  background-position: 0  0;
}
.icon-sprite.icon-exclamation {
  background-position: -17px 0;
}
