@import "variables.less";
@import "mixins.less";

html,body {
	/* html et body doivent rester comme ça et sans padding ni margin, pour gérer le footer en bas de page */
	height: 100%;
}

a > i.icon-linkcolor {
	background-image: url("@{iconLinkColorSpritePath}");
}
a:hover > .icon-linkcolor {
  background-image: url("@{iconLinkColorHoverSpritePath}");
}
.muted > [class^="icon-"], 
.muted > [class*=" icon-"],
[class^="icon-"].muted,
[class*=" icon-"].muted {
  background-image: url("@{iconMutedSpritePath}");
}  

.navbar {
	.navbar-inner {
		border-width: 0px;
	}
	.nav > li > a {
		text-shadow: none;
	}

	.subnav {
	    min-height:20px;
	    background-color: @navbarLinkBackgroundActive;
	    box-shadow: none ;
	    color: #555555;
	    text-decoration: none;
	
		ul.nav li {
	    	line-height: 2px;
		}
	
		.nav > .active > a,  .nav > :hover > a {
			background-color: white;
			background: white; /* Old browsers */
			background: -moz-linear-gradient(top, @navbarBackground 0%, #ffffff 10%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@navbarBackground), color-stop(10%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  @navbarBackground 0%,#ffffff 10%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  @navbarBackground 0%,#ffffff 10%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  @navbarBackground 0%,#ffffff 10%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to bottom,  @navbarBackground 0%,#ffffff 10%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@navbarBackground', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
			color: black;
			box-shadow: none;
		    text-decoration: none;
		}
	}
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* margin bottom négatif pour gérer le footeur, de la hauteur du footer (hauteur réelle = hauteur + border + padding ...) */
	margin: 0 auto -41px;
	& > .container, & > .container-fluid {
		padding-top: 65px;
	}
}

#push,#footer {
	height: 40px;
}

#footer {
	background-color: lighten(@navbarBackground, 65%);
	color: purple;
	.container p {
		color: purple;
		margin: 10px 0;
	}
	a {
		color:purple;
		border-bottom:dotted 1px purple;
	}
	font-size:smaller;
}
#footer	a:hover, #footer a:active {
		text-decoration:none;
		border-bottom-style:solid;
	}

/* Lastly, apply responsive CSS fixes as necessary */
@media ( max-width : 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

#login-form-container {
	margin: 30px auto;
	width: 250px;
}
