@import "variables.less";
@import "mixins.less";

html,body {
	/* html et body doivent rester comme ça et sans padding ni margin, pour gérer le footer en bas de page */
	height: 100%;
}

.navbar {
	.navbar-inner {
		border-width: 0px;
	}
	.nav > li > a {
		text-shadow: none;
	}

	.subnav {
	    min-height:20px;
	    background-color: @navbarLinkBackgroundActive;
	    box-shadow: none ;
	    color: #555555;
	    text-decoration: none;
	
		ul.nav li {
	    	line-height: 2px;
		}
	
		.nav > .active > a {
			#gradient > .vertical(@navbarBackground, @navbarBackgroundHighlight);
		    box-shadow: none;
		    text-decoration: none;
		}
	}
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* margin bottom négatif pour gérer le footeur, de la hauteur du footer (hauteur réelle = hauteur + border + padding ...) */
	margin: 0 auto -41px;
	& > .container {
		padding-top: 65px;
	}
}

#push,#footer {
	height: 40px;
}

#footer {
	background-color: lighten(@navbarBackground, 65%);
	color: purple;
	.container p {
		color: purple;
		margin: 10px 0;
	}
}

/* Lastly, apply responsive CSS fixes as necessary */
@media ( max-width : 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
