.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  /* html et body doivent rester comme �a et sans padding ni margin, pour g�rer le footer en bas de page */

  height: 100%;
}
/*a > i.icon-linkcolor {
	background-image: url("@{iconLinkColorSpritePath}");
}
a:hover > .icon-linkcolor {
  background-image: url("@{iconLinkColorHoverSpritePath}");
}*/
.p {
  margin-bottom: 10px;
}
.loadmask {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  -moz-opacity: 0.5;
  opacity: .50;
  filter: alpha(opacity=50);
  background-color: #f3dffa;
  width: 100%;
  height: 100%;
  zoom: 1;
  border-radius: 4px;
}
.loadmask-msg {
  z-index: 20001;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #7e17a4;
  background-image: -moz-linear-gradient(top, #931bbf, #5f127c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#931bbf), to(#5f127c));
  background-image: -webkit-linear-gradient(top, #931bbf, #5f127c);
  background-image: -o-linear-gradient(top, #931bbf, #5f127c);
  background-image: linear-gradient(to bottom, #931bbf, #5f127c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff931bbf', endColorstr='#ff5f127c', GradientType=0);
  border: 1px solid #800080;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  padding: 2px;
  border-radius: 4px;
}
.loadmask-msg div {
  padding: 5px 10px 5px 25px;
  background: url('../img/loading.gif') no-repeat 5px 5px;
  line-height: 16px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 1px 0 #931bbf;
  font-size: 11px;
  cursor: wait;
}
.masked {
  overflow: hidden !important;
}
.masked-relative {
  position: relative !important;
}
.masked-hidden {
  visibility: hidden !important;
}
.vertical-center {
  vertical-align: middle !important;
}
/*.muted > [class^="icon-"], 
.muted > [class*=" icon-"],
[class^="icon-"].muted,
[class*=" icon-"].muted {
  background-image: url("@{iconMutedSpritePath}");
}  

.icon-cap                     { background-position: 0      -168px; }
*/
.navbar .navbar-inner {
  border-width: 0px;
}
.navbar .nav > li > a {
  text-shadow: none;
}
.navbar .subnav {
  background-color: #4e0e66;
  box-shadow: none ;
  color: #555555;
  text-decoration: none;
}
.navbar .subnav ul.nav li {
  line-height: 2px;
}
.navbar .subnav .nav > .active > a,
.navbar .subnav .nav > :hover > a {
  background-color: white;
  background: white;
  /* Old browsers */

  background: -moz-linear-gradient(top, #5f127c 0%, #ffffff 10%, #ffffff 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5f127c), color-stop(10%, #ffffff), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #5f127c 0%, #ffffff 10%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #5f127c 0%, #ffffff 10%, #ffffff 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #5f127c 0%, #ffffff 10%, #ffffff 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #5f127c 0%, #ffffff 10%, #ffffff 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@navbarBackground', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */

  color: black;
  box-shadow: none;
  text-decoration: none;
}
.breadcrumb {
  background-color: transparent;
  border-bottom: 2px dotted #f3dffa;
  border-radius: 0px;
  margin: 0 0 10px;
  padding: 0 15px;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* margin bottom n�gatif pour g�rer le footeur, de la hauteur du footer (hauteur r�elle = hauteur + border + padding ...) */

  margin: 0 auto -41px;
}
#wrap > .container,
#wrap > .container-fluid {
  padding-top: 65px;
}
#push,
#footer {
  height: 40px;
}
#footer {
  background-color: #f3dffa;
  color: purple;
  font-size: smaller;
}
#footer .container p {
  color: purple;
  margin: 10px 0;
}
#footer a {
  color: purple;
  border-bottom: dotted 1px purple;
}
#footer a:hover,
#footer a:active {
  text-decoration: none;
  border-bottom-style: solid;
}
#login-form-container {
  margin: 30px auto;
  width: 250px;
}
.form-horizontal .control-group {
  margin-bottom: 10px;
}
form .control-group.required .control-label,
form .control-group.required .help-inline.required {
  font-weight: bold;
}
form .control-group .help-block > ul {
  margin-bottom: 0px;
}
.state-error {
  color: #b94a48 !important;
}
.state-success {
  color: #468847 !important;
}
.admin-btn {
  height: 65px;
  min-width: 130px;
  margin: 0px 20px 20px 0px;
}
.admin-btn > img {
  margin: 5px;
}
.admin-btn .title {
  font-weight: bold;
  font-size: 17.5px;
}
.rights-group {
  list-style: none outside none;
  margin-left: 0px;
}
.rights-group label {
  display: inline;
}
.rights-group input[type=checkbox] {
  margin-top: -2px;
}
.rights-group > li {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: top;
}
.rights-group > li > span.group-name {
  background-color: #931bbf;
  border-radius: 2px 2px 2px 0;
  color: #ffffff;
  padding: 0px 8px;
  display: block;
}
.rights-group > li > span.group-name,
.rights-group > li > span.group-name label {
  font-weight: bold;
}
.rights-group .rights-list {
  list-style: none outside none;
  margin-left: 0px;
  padding-left: 5px;
  border-left: solid 3px #931bbf;
}
label.multicheckbox input[type=checkbox] {
  margin-top: -2px;
  margin-right: 5px;
}
.main-messages {
  margin-bottom: 10px;
}
.main-messages ul {
  margin: 0px 0px 0px 10px;
}
.action-bar a:hover {
  text-decoration: none;
}
.action-bar.boundaries:before {
  content: '[ ';
}
.action-bar.boundaries:after {
  content: ' ]';
}
.action-bar .action-bar-item {
  display: inline;
}
.action-bar .action-bar-item:before {
  content: ' | ';
}
.action-bar .action-bar-item:first-child:before {
  content: '';
}
.pagination-info {
  padding: 5px 0;
}
.pagination-info-right {
  float: right;
}
.pagination-info-left {
  float: left;
}
.dropup-menu {
  bottom: 100%;
  top: auto !important;
}
/* position the arrow downwards, pointing to the menu */
.navbar .dropup-menu:before {
  border-bottom: none;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid rgba(0, 0, 0, 0.2);
  left: 7px;
  top: 100%;
}
.navbar .dropup-menu:after {
  border-bottom: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
  left: 10px;
  top: 100%;
  left: 6px;
}
.thumbnails {
  margin-left: 0;
}
.thumbnails .thumbnail[class*="span"] {
  margin: 0;
}
.page-qrcode-container {
  position: relative;
}
.page-qrcode-holder {
  transition: all 300ms ease-in-out 0s;
}
.page-qrcode-holder:hover,
.page-qrcode-holder:focus {
  right: 0px;
  position: absolute;
  transition: all 300ms ease-in-out 0s;
}
.page-qrcode {
  position: relative;
  background: white;
  transition: all 300ms ease-in-out 0s;
}
.page-qrcode img {
  height: 30px;
}
.page-qrcode:hover,
.page-qrcode:focus {
  z-index: 10;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
.page-qrcode:hover img,
.page-qrcode:focus img {
  padding: 0 20px;
  height: auto;
}
.no-margin {
  margin: 0;
}
@media (max-width: 979px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #footer,
  #push {
    height: 0px;
  }
  .navbar-fixed-top {
    margin-bottom: 0;
  }
  #wrap > .container,
  #wrap > .container-fluid {
    padding-top: 0px;
  }
}
.sort-handle {
  cursor: move;
  background: url('../img/sort-handle.png') repeat;
}
.table-sort-placeholder {
  background: url('../img/empty-placeholder.png') repeat;
}
.table-sort-placeholder > * {
  visibility: hidden;
}
.table-sort-helper > td {
  background-color: white;
}
#color-form-container.affix-top {
  margin-top: 12px;
}
#color-form-container.affix {
  margin-top: -40px;
}
.costume-color-preview {
  display: inline-block;
  height: 15px;
  width: 15px;
  border: solid 1px #DDD;
  border-radius: 4px;
  margin-left: 10px;
  vertical-align: middle;
}
.costume-color-preview.no-margin {
  margin: 0px;
}
.costume-color-preview.no-color {
  background: url('../img/empty-placeholder') repeat transparent;
  border-color: transparent;
}
#materials-list,
#tags-list,
#parts-list {
  max-width: 500px;
}
.icon-sprite {
  display: inline-block;
  width: 16px;
  height: 16px;
  *margin-right: .3em;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url('../img/icons-sprite');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  margin-top: 1px;
}
.icon-sprite.icon-accepted {
  background-position: 0  0;
}
.icon-sprite.icon-exclamation {
  background-position: -17px 0;
}
.zoom-in-cursor {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
