.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-file {
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}
.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
.fileupload {
  margin-bottom: 9px;
}
.fileupload .uneditable-input {
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
  cursor: text;
}
.fileupload .thumbnail {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: middle;
  text-align: center;
}
.fileupload .thumbnail > img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
}
.fileupload .btn {
  vertical-align: middle;
}
.fileupload-exists .fileupload-new,
.fileupload-new .fileupload-exists {
  display: none;
}
.fileupload-inline .fileupload-controls {
  display: inline;
}
.fileupload-new .input-append .btn-file {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.thumbnail-borderless .thumbnail {
  border: none;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.fileupload-new.thumbnail-borderless .thumbnail {
  border: 1px solid #ddd;
}
.control-group.warning .fileupload .uneditable-input {
  color: #a47e3c;
  border-color: #a47e3c;
}
.control-group.warning .fileupload .fileupload-preview {
  color: #a47e3c;
}
.control-group.warning .fileupload .thumbnail {
  border-color: #a47e3c;
}
.control-group.error .fileupload .uneditable-input {
  color: #b94a48;
  border-color: #b94a48;
}
.control-group.error .fileupload .fileupload-preview {
  color: #b94a48;
}
.control-group.error .fileupload .thumbnail {
  border-color: #b94a48;
}
.control-group.success .fileupload .uneditable-input {
  color: #468847;
  border-color: #468847;
}
.control-group.success .fileupload .fileupload-preview {
  color: #468847;
}
.control-group.success .fileupload .thumbnail {
  border-color: #468847;
}
.multiple-tag-selector-list-container {
  display: inline-block;
}
.multiple-tag-selector-list-item {
  display: inline-block;
  padding: 0 4px;
  margin: 0 4px 4px 0;
  background-color: #f5f5f5;
  border: 1px solid #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.multiple-tag-selector-list-item .multiple-tag-selector-list-remove {
  margin-left: 4px;
}
html,
body {
  /* html et body doivent rester comme �a et sans padding ni margin, pour g�rer le footer en bas de page */

  height: 100%;
}
.p {
  margin-bottom: 10px;
}
.loadmask {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  -moz-opacity: 0.5;
  opacity: .50;
  filter: alpha(opacity=50);
  background-color: #f3dffa;
  width: 100%;
  height: 100%;
  zoom: 1;
  border-radius: 4px;
}
.loadmask-msg {
  z-index: 20001;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #7e17a4;
  background-image: -moz-linear-gradient(top, #931bbf, #5f127c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#931bbf), to(#5f127c));
  background-image: -webkit-linear-gradient(top, #931bbf, #5f127c);
  background-image: -o-linear-gradient(top, #931bbf, #5f127c);
  background-image: linear-gradient(to bottom, #931bbf, #5f127c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff931bbf', endColorstr='#ff5f127c', GradientType=0);
  border: 1px solid #800080;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  padding: 2px;
  border-radius: 4px;
}
.loadmask-msg div {
  padding: 5px 10px 5px 25px;
  background: url('../img/loading.gif') no-repeat 5px 5px;
  line-height: 16px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 1px 0 #931bbf;
  font-size: 11px;
  cursor: wait;
}
.masked {
  overflow: hidden !important;
}
.masked-relative {
  position: relative !important;
}
.masked-hidden {
  visibility: hidden !important;
}
.vertical-center {
  vertical-align: middle !important;
}
/*.muted > [class^="icon-"], 
.muted > [class*=" icon-"],
[class^="icon-"].muted,
[class*=" icon-"].muted {
  background-image: url("@{iconMutedSpritePath}");
}  

.icon-cap                     { background-position: 0      -168px; }
*/
.navbar .navbar-inner {
  border-width: 0px;
}
.navbar .nav > li > a {
  text-shadow: none;
}
.navbar .subnav {
  background-color: #4e0e66;
  box-shadow: none ;
  color: #555555;
  text-decoration: none;
}
.navbar .subnav ul.nav li {
  line-height: 2px;
}
.navbar .subnav .nav > .active > a,
.navbar .subnav .nav > :hover > a {
  background-color: white;
  background: white;
  /* Old browsers */

  background: -moz-linear-gradient(top, #5f127c 0%, #ffffff 10%, #ffffff 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5f127c), color-stop(10%, #ffffff), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #5f127c 0%, #ffffff 10%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #5f127c 0%, #ffffff 10%, #ffffff 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #5f127c 0%, #ffffff 10%, #ffffff 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #5f127c 0%, #ffffff 10%, #ffffff 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@navbarBackground', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */

  color: black;
  box-shadow: none;
  text-decoration: none;
}
.breadcrumb {
  background-color: transparent;
  border-bottom: 2px dotted #f3dffa;
  border-radius: 0px;
  margin: 0 0 10px;
  padding: 0 15px;
}
.tt-dropdown-menu {
  font-size: 14px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.tt-dropdown-menu .tt-suggestion {
  padding: 5px;
  border-top: 1px solid #eeeeee;
}
.tt-dropdown-menu .tt-suggestion:first-child {
  border-top: 0;
}
.tt-dropdown-menu .tt-suggestion.tt-cursor {
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  background-color: #8c1ab6;
  background-image: -moz-linear-gradient(top, #931bbf, #8218a9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#931bbf), to(#8218a9));
  background-image: -webkit-linear-gradient(top, #931bbf, #8218a9);
  background-image: -o-linear-gradient(top, #931bbf, #8218a9);
  background-image: linear-gradient(to bottom, #931bbf, #8218a9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff931bbf', endColorstr='#ff8218a9', GradientType=0);
}
.tt-dropdown-menu .tt-suggestion p {
  margin: 0px;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* margin bottom n�gatif pour g�rer le footeur, de la hauteur du footer (hauteur r�elle = hauteur + border + padding ...) */

  margin: 0 auto -41px;
}
#wrap > .container,
#wrap > .container-fluid {
  padding-top: 65px;
}
#push,
#footer {
  height: 40px;
}
#footer {
  background-color: #f3dffa;
  color: purple;
  font-size: smaller;
}
#footer .container p {
  color: purple;
  margin: 10px 0;
}
#footer a {
  color: purple;
  border-bottom: dotted 1px purple;
}
#footer a:hover,
#footer a:active {
  text-decoration: none;
  border-bottom-style: solid;
}
#login-form-container {
  margin: 30px auto;
  width: 250px;
}
.form-horizontal .control-group {
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  .form-horizontal.form-horizontal-packed label {
    width: auto;
  }
  .form-horizontal.form-horizontal-packed .controls {
    margin-left: 20px;
    float: left;
  }
}
form .control-group.required .control-label,
form .control-group.required .help-inline.required {
  font-weight: bold;
}
form .control-group .help-block > ul {
  margin-bottom: 0px;
}
.state-error {
  color: #b94a48 !important;
}
.state-success {
  color: #468847 !important;
}
.admin-btn {
  height: 65px;
  min-width: 130px;
  margin: 0px 20px 20px 0px;
}
.admin-btn > img {
  margin: 5px;
}
.admin-btn .title {
  font-weight: bold;
  font-size: 17.5px;
}
.rights-group {
  list-style: none outside none;
  margin-left: 0px;
}
.rights-group label {
  display: inline;
}
.rights-group input[type=checkbox] {
  margin-top: -2px;
}
.rights-group > li {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: top;
}
.rights-group > li > span.group-name {
  background-color: #931bbf;
  border-radius: 2px 2px 2px 0;
  color: #ffffff;
  padding: 0px 8px;
  display: block;
}
.rights-group > li > span.group-name,
.rights-group > li > span.group-name label {
  font-weight: bold;
}
.rights-group .rights-list {
  list-style: none outside none;
  margin-left: 0px;
  padding-left: 5px;
  border-left: solid 3px #931bbf;
}
label.multicheckbox input[type=checkbox] {
  margin-top: -2px;
  margin-right: 5px;
}
.main-messages {
  margin-bottom: 10px;
}
.main-messages ul {
  margin: 0px 0px 0px 10px;
}
.action-bar a:hover {
  text-decoration: none;
}
.action-bar.boundaries:before {
  content: '[ ';
}
.action-bar.boundaries:after {
  content: ' ]';
}
.action-bar .action-bar-item {
  display: inline;
}
.action-bar .action-bar-item:before {
  content: ' | ';
}
.action-bar .action-bar-item:first-child:before {
  content: '';
}
.pagination-placeholder {
  height: 45px;
}
.pagination-container {
  padding: 5px 0;
}
.pagination-container .pagination {
  margin: 0px;
}
.pagination-container.affix {
  bottom: 0;
  left: 0;
  background-color: #f3dffa;
  width: 100%;
  box-shadow: 0px 0px 10px #f3dffa;
  z-index: 1000;
}
.pagination-info {
  padding: 5px 0;
}
.pagination-info-right {
  float: right;
}
.pagination-info-left {
  float: left;
}
.dropup-menu {
  bottom: 100%;
  top: auto !important;
}
.dropup-menu.typeahead {
  margin-top: 0px;
  margin-bottom: 2px;
}
a.tablesorter-icon {
  color: #333333;
}
a.tablesorter-icon.tablesorter-direction-up,
a.tablesorter-icon.tablesorter-direction-down {
  color: #931bbf;
}
a.tablesorter-icon.tablesorter-direction-up > i {
  vertical-align: bottom;
}
a.tablesorter-icon.tablesorter-direction-down > i {
  vertical-align: top;
}
a.tablesorter-icon:hover,
a.tablesorter-icon:active {
  text-decoration: none;
  color: #333333;
}
/* position the arrow downwards, pointing to the menu */
.navbar .dropup-menu:before {
  border-bottom: none;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid rgba(0, 0, 0, 0.2);
  left: 7px;
  top: 100%;
}
.navbar .dropup-menu:after {
  border-bottom: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
  left: 10px;
  top: 100%;
  left: 6px;
}
.thumbnails {
  margin-left: 0;
}
.thumbnails .thumbnail[class*="span"] {
  margin: 0;
}
.progress {
  position: relative;
}
.progress .progress-message {
  color: #333333;
  font-weight: bold;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px #FFFFFF;
  width: 100%;
}
.progress-miranda .bar,
.progress .bar-miranda {
  background-color: #aa33d5;
  background-image: -moz-linear-gradient(top, #b942e4, #931bbf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b942e4), to(#931bbf));
  background-image: -webkit-linear-gradient(top, #b942e4, #931bbf);
  background-image: -o-linear-gradient(top, #b942e4, #931bbf);
  background-image: linear-gradient(to bottom, #b942e4, #931bbf);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb942e4', endColorstr='#ff931bbf', GradientType=0);
}
.progress-miranda.progress-striped .bar,
.progress-striped .bar-miranda {
  background-color: #931bbf;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.page-qrcode-container {
  position: relative;
}
.page-qrcode-holder {
  transition: all 300ms ease-in-out 0s;
}
.page-qrcode-holder:hover,
.page-qrcode-holder:focus {
  right: 0px;
  position: absolute;
  transition: all 300ms ease-in-out 0s;
}
.page-qrcode {
  position: relative;
  background: white;
  transition: all 300ms ease-in-out 0s;
}
.page-qrcode img {
  height: 30px;
}
.page-qrcode:hover,
.page-qrcode:focus {
  z-index: 10;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
.page-qrcode:hover img,
.page-qrcode:focus img {
  padding: 0 20px;
  height: auto;
}
.no-margin {
  margin: 0;
}
@media (max-width: 979px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #footer,
  #push {
    height: 0px;
  }
  .navbar-fixed-top {
    margin-bottom: 0;
  }
  #wrap > .container,
  #wrap > .container-fluid {
    padding-top: 0px;
  }
}
.sort-handle {
  cursor: move;
  background: url('../img/sort-handle.png') repeat;
}
.table-sort-placeholder {
  background: url('../img/empty-placeholder.png') repeat;
}
.table-sort-placeholder > * {
  visibility: hidden;
}
.table-sort-helper > td {
  background-color: white;
}
#color-form-container.affix-top {
  margin-top: 12px;
}
#color-form-container.affix {
  margin-top: -40px;
}
.costume-color-preview {
  display: inline-block;
  height: 15px;
  width: 15px;
  border: solid 1px #DDD;
  border-radius: 4px;
  margin-left: 10px;
  vertical-align: middle;
}
.costume-color-preview.no-margin {
  margin: 0px;
}
.costume-color-preview.no-color {
  background: url('../img/empty-placeholder') repeat transparent;
  border-color: transparent;
}
#materials-list,
#tags-list,
#parts-list {
  max-width: 500px;
}
label.radio.col2 {
  display: inline-block;
  width: 40%;
}
/* Not visible outside of #parts-list*/
.parts-list-item,
.tags-list-item {
  display: none;
}
#costume-form {
  margin-bottom: 0px;
}
#costume-form #parts-list:empty:before {
  content: "\f12e";
}
#costume-form #tags-list:empty:before {
  content: "\f02c";
}
#costume-form #parts-list,
#costume-form #tags-list {
  max-width: 100%;
  min-height: 0px;
  max-height: 120px;
  overflow: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 4px 6px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
}
#costume-form #parts-list:empty,
#costume-form #tags-list:empty {
  border-style: dashed;
}
#costume-form #parts-list:empty:before,
#costume-form #tags-list:empty:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  text-decoration: inherit;
  color: #cccccc;
  margin-left: 5px;
  line-height: 25px;
}
#costume-form #parts-list .parts-list-item,
#costume-form #tags-list .parts-list-item,
#costume-form #parts-list .tags-list-item,
#costume-form #tags-list .tags-list-item {
  *zoom: 1;
  display: block;
  padding: 2px;
}
#costume-form #parts-list .parts-list-item:before,
#costume-form #tags-list .parts-list-item:before,
#costume-form #parts-list .tags-list-item:before,
#costume-form #tags-list .tags-list-item:before,
#costume-form #parts-list .parts-list-item:after,
#costume-form #tags-list .parts-list-item:after,
#costume-form #parts-list .tags-list-item:after,
#costume-form #tags-list .tags-list-item:after {
  display: table;
  content: "";
  line-height: 0;
}
#costume-form #parts-list .parts-list-item:after,
#costume-form #tags-list .parts-list-item:after,
#costume-form #parts-list .tags-list-item:after,
#costume-form #tags-list .tags-list-item:after {
  clear: both;
}
#costume-form #parts-list .parts-list-item .part-label,
#costume-form #tags-list .parts-list-item .part-label,
#costume-form #parts-list .tags-list-item .part-label,
#costume-form #tags-list .tags-list-item .part-label {
  vertical-align: middle;
}
#costume-form #parts-list .parts-list-item:hover,
#costume-form #tags-list .parts-list-item:hover,
#costume-form #parts-list .tags-list-item:hover,
#costume-form #tags-list .tags-list-item:hover {
  background-color: #f5f5f5;
}
#costume-form #parts-list .parts-list-item .btn-remove-part,
#costume-form #tags-list .parts-list-item .btn-remove-part,
#costume-form #parts-list .tags-list-item .btn-remove-part,
#costume-form #tags-list .tags-list-item .btn-remove-part,
#costume-form #parts-list .parts-list-item .btn-remove-tag,
#costume-form #tags-list .parts-list-item .btn-remove-tag,
#costume-form #parts-list .tags-list-item .btn-remove-tag,
#costume-form #tags-list .tags-list-item .btn-remove-tag {
  float: right;
}
#costume-search-form {
  position: relative;
  margin-bottom: 0;
}
#costume-search-form .tt-hint {
  color: #CCC;
  font-style: italic;
}
#costume-search-form #small-search-form {
  position: relative;
  z-index: 2;
}
#costume-search-form #small-search-form .dropdown-menu > li > a {
  overflow: hidden;
  text-overflow: ellipsis;
}
#costume-search-form button#more-search-form {
  padding-right: 5px;
  padding-left: 5px;
  width: 25px;
}
#costume-search-form button#more-search-form.active {
  border-color: #cccccc;
  border-bottom-color: #b3b3b3;
}
#costume-search-form button#more-search-form.active .caret {
  border-top: 0;
  border-bottom: 4px solid #000000;
  content: "";
}
#costume-search-form button#small-search-button,
#costume-search-form button#small-cancel-search-button,
#costume-search-form a#small-cancel-search-button {
  border-radius: 0;
}
#costume-search-form #full-search-form {
  border-radius: 4px 0;
  border: 1px solid #cccccc;
  border-bottom: 0;
  border-right: 0;
  padding: 5px;
  margin-top: 5px;
  position: relative;
  z-index: 1;
  top: -1px;
  margin-right: 19px;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.075);
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}
#costume-search-form #full-search-form .control-group {
  margin: 0 10px 0 0;
  display: inline-block;
}
#costume-search-form #full-search-form .control-group label {
  font-size: 10px;
}
#costume-search-form #full-search-form .control-group input {
  height: 10px;
  font-size: 10px;
}
#costume-search-form #full-search-form .control-group .btn-group.bootstrap-select {
  height: 18px;
  font-size: 10px;
}
#costume-search-form #full-search-form #search-parts-list,
#costume-search-form #full-search-form #search-tags-list {
  font-size: 10px;
}
#costume-search-form #small-search-form-completion-loader {
  width: 16px;
  height: 16px;
  background: url('../img/loading.gif') no-repeat 0px 0px;
  display: block;
  position: absolute;
  top: 7px;
  right: 7px;
  display: none;
}
#costume-search-form .tt-dropdown-menu {
  left: auto !important;
  right: 0 !important;
  width: 350px;
}
#costume-search-form .tt-dataset-costume-completion .tt-suggestion .costume-suggestion {
  *zoom: 1;
  vertical-align: middle;
}
#costume-search-form .tt-dataset-costume-completion .tt-suggestion .costume-suggestion:before,
#costume-search-form .tt-dataset-costume-completion .tt-suggestion .costume-suggestion:after {
  display: table;
  content: "";
  line-height: 0;
}
#costume-search-form .tt-dataset-costume-completion .tt-suggestion .costume-suggestion:after {
  clear: both;
}
#costume-search-form .tt-dataset-costume-completion .tt-suggestion .costume-code {
  display: block;
  float: left;
  vertical-align: middle;
}
#costume-search-form .tt-dataset-costume-completion .tt-suggestion .costume-label {
  font-size: smaller;
  display: block;
  margin-left: 100px;
}
.form-buttons-placeholder {
  height: 50px;
}
.form-buttons {
  padding: 10px 0;
}
.form-buttons.affix {
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0px 0px 10px #f3dffa;
  z-index: 1000;
}
.control-group.error .thumbnail {
  border-color: #b94a48;
}
.drop-zone.drop-zone-active {
  background-color: red;
}
.drop-zone * {
  pointer-events: none;
}
.icon-sprite {
  display: inline-block;
  width: 16px;
  height: 16px;
  *margin-right: .3em;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url('../img/icons-sprite');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  margin-top: 1px;
}
.icon-sprite.icon-accepted {
  background-position: 0  0;
}
.icon-sprite.icon-exclamation {
  background-position: -17px 0;
}
.zoom-in-cursor {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
@media print {
  a[href]:after {
    content: '';
  }
  .pagination-placeholder,
  .pagination-container,
  .action-bar,
  .action-bar-container,
  .breadcrumb {
    display: none;
  }
}
