<VirtualHost *:80>
    ServerName {{SERVER_NAME}}
    ServerAdmin {{SERVER_ADMIN}}

    DocumentRoot {{BASE_PATH}}/public
    # Uncomment if running in development environment (application will provide debugging features)
    SetEnv APPLICATION_ENV "{{ENV}}"

    AddDefaultCharset UTF-8

    <IfModule mod_php5.c>
        php_flag file_uploads On
        php_value post_max_size "10M"
        php_value upload_max_filesize "10M"
        php_flag session.upload_progress.enabled On
        php_value session.upload_progress.freq "1%"
        php_value session.upload_progress.min_freq "1"
    </IfModule>

    <Location />
        RewriteEngine On
        # The following rule tells Apache that if the requested filename
        # exists, simply serve it.
        RewriteCond %{REQUEST_FILENAME} -s [OR]
        RewriteCond %{REQUEST_FILENAME} -l [OR]
        RewriteCond %{REQUEST_FILENAME} -d
        RewriteRule ^.*$ - [NC,L]
        # The following rewrites all other queries to index.php. The
        # condition ensures that if you are using Apache aliases to do
        # mass virtual hosting, the base path will be prepended to
        # allow proper resolution of the index.php file; it will work
        # in non-aliased environments as well, providing a safe, one-size
        # fits all solution.
        RewriteCond %{REQUEST_URI}::$1 ^(/.+)(.+)::\2$
        RewriteRule ^(.*) - [E=BASE:%1]
        RewriteRule ^(.*)$ %{ENV:BASE}index.php [NC,L]
    </Location>

    <Directory {{BASE_PATH}}/public>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride None
        Order allow,deny
        Allow from all
        Require all granted
    </Directory>

    Alias /pictures {{DATA_PATH}}/pictures
    <Directory {{DATA_PATH}}/pictures>
        Options FollowSymLinks
        AllowOverride None
        Order allow,deny
        Allow from all
        Require all granted
    </Directory>
</VirtualHost>
    