<?php
return array(
	'application' => array(
		'app' => [
			'base_url' => 'http://localhost/'
		],
		'layout' => array(
			'compile_less' => false
		)
	),
	'db' => [
			'username' => 'CHANGEME',
			'password' => 'CHANGEME',
			'table_prefix' => ''
	],
	'data_storage' => [
		'root_path' => 'data/miranda',
		'temp_path' => 'data/miranda/tmp'
	]
);