<?php
return array(
	'application' => array(
		'app' => [
			'base_url' => 'http://localhost/'
		],
		'layout' => array(
			'compile_less' => false
		)
	),
	'db' => array(
			'username' => 'CHANGEME',
			'password' => 'CHANGEME',
			'table_prefix' => ''
	),
);